practica1/p1
practica1/p2
practica1/p3

practica2/p1
practica2/p2

practica2/reporte/main.aux
practica2/reporte/main.fdb_latexmk
practica2/reporte/main.fls
practica2/reporte/main.synctex.gz
practica2/reporte/main.log
